<div class="col-left">
    <div class="box_mid">
        <div class="mid-title">
            <div class="titleL">
                <h1>Các Gói Dịch Vụ Giao Hàng</h1>
            </div>
            <div class="titleR"></div>
            <div class="clear"></div>
        </div>
        <div class="mid-content">
            <div id='List_View'>
                <div class='service-item-row '>
                    <div class="service-item">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="front">
                                    <a class="img-container" title="DỊCH VỤ GIAO HÀNG CHO THƯƠNG MẠI ĐIỆN TỬ">
                                        <img src="assets/templates/frontend/img/(235x155)_crop_Dich-vu-giao-hang-cho-thuong-mai-dien-tu-icon.jpg"
                                            alt='DỊCH VỤ GIAO HÀNG CHO THƯƠNG MẠI ĐIỆN TỬ' />
                                    </a>
                                    <h2 class="caption">
                                        <a class="DroidSans" title="DỊCH VỤ GIAO HÀNG CHO THƯƠNG MẠI ĐIỆN TỬ">DỊCH VỤ GIAO HÀNG CHO THƯƠNG MẠI ĐIỆN TỬ</a>
                                    </h2>
                                </div>
                                <div class="back">
                                    <a>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <h3>DỊCH VỤ GIAO HÀNG CHO THƯƠNG MẠI ĐIỆN TỬ</h3>
                                                    <span class="line"></span>
                                                    <p>Thấu hiểu được thị trường thương mại điện tử (TMĐT), chúng tôi cung cấp
                                                        cho hoạt động thương mại điện tử dịch vụ giao hàng nhanh, uy tín,
                                                        chất lượng.</p>
                                                    <a class="read-more"><span></span>Xem chi tiết</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="front">
                                    <a class="img-container" title="DỊCH VỤ GIAO HÀNG CHO DOANH NGHIỆP"><img src="assets/templates/frontend/img/(235x155)_crop_dich-vu-giao-hang-cho-doanh-nghiep.jpg"
                                            alt='DỊCH VỤ GIAO HÀNG CHO DOANH NGHIỆP' /></a>
                                    <h2 class="caption"><a class="DroidSans" title="DỊCH VỤ GIAO HÀNG CHO DOANH NGHIỆP">DỊCH VỤ GIAO HÀNG CHO DOANH NGHIỆP</a>                                        </h2>
                                </div>
                                <div class="back">
                                    <a>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <h3>DỊCH VỤ GIAO HÀNG CHO DOANH NGHIỆP</h3>
                                                    <span class="line"></span>
                                                    <p>Với phương châm “Hiểu những gì khách hàng cần”. Alogiaongay muốn mang
                                                        đến cho các doanh nghiệp dịch vụ giao hàng thuận tiện nhất.</p>
                                                    <a class="read-more"><span></span>Xem chi tiết</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="front">
                                    <a class="img-container" title="DỊCH VỤ GIAO HÀNG CHO SHOP ONLINE"><img src="assets/templates/frontend/img/(235x155)_crop_Dich-vu-giao-hang-cho-shop-online-icon.jpg"
                                            alt='DỊCH VỤ GIAO HÀNG CHO SHOP ONLINE' /></a>
                                    <h2 class="caption"><a class="DroidSans" title="DỊCH VỤ GIAO HÀNG CHO SHOP ONLINE">DỊCH VỤ GIAO HÀNG CHO SHOP ONLINE</a>                                        </h2>
                                </div>
                                <div class="back">
                                    <a href="dich-vu-giao-hang-cho-shop-online.html">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <h3>DỊCH VỤ GIAO HÀNG CHO SHOP ONLINE</h3>
                                                    <span class="line"></span>
                                                    <p>Alogiaongay đặt niềm tin vào sự phát triển bùng nổ của thương mại điện
                                                        tử nói chung và các shop online nói riêng</p>
                                                    <a href="dich-vu-giao-hang-cho-shop-online.html" class="read-more"><span></span>Xem chi tiết</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="service-item-row  last">
                    <div class="service-item">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="front">
                                    <a class="img-container" title="DỊCH VỤ GIAO QUÀ SINH NHẬT"><img src="assets/templates/frontend/img/(235x155)_crop_Dich-vu-giao-qua-sinh-nhat-icon_1.jpg"
                                            alt='DỊCH VỤ GIAO QUÀ SINH NHẬT' /></a>
                                    <h2 class="caption"><a class="DroidSans" title="DỊCH VỤ GIAO QUÀ SINH NHẬT">DỊCH VỤ GIAO QUÀ SINH NHẬT</a>                                        </h2>
                                </div>
                                <div class="back">
                                    <a href="dich-vu-giao-qua-sinh-nhat.html">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <h3>DỊCH VỤ GIAO QUÀ SINH NHẬT</h3>
                                                    <span class="line"></span>
                                                    <p>Với mong muốn giải quyết những nhu cầu của khách hàng, chúng tôi muốn
                                                        cung cấp những dịch vụ giao hàng nhanh và thuận tiện nhất trong cuộc
                                                        sống hàng ngày.</p>
                                                    <a href="dich-vu-giao-qua-sinh-nhat.html" class="read-more"><span></span>Xem chi tiết</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="front">
                                    <a class="img-container" href="dich-vu-giao-hang-cho-chuoi-cua-hang.html" title="DỊCH VỤ GIAO HÀNG CHO CHUỖI CỬA HÀNG"><img src="assets/templates/frontend/img/(235x155)_crop_Dich-vu-giao-hang-cho-chuoi-cua-hang-icon.jpg"
                                            alt='DỊCH VỤ GIAO HÀNG CHO CHUỖI CỬA HÀNG' /></a>
                                    <h2 class="caption"><a href="dich-vu-giao-hang-cho-chuoi-cua-hang.html" class="DroidSans" title="DỊCH VỤ GIAO HÀNG CHO CHUỖI CỬA HÀNG">DỊCH VỤ GIAO HÀNG CHO CHUỖI CỬA HÀNG</a>                                        </h2>
                                </div>
                                <div class="back">
                                    <a href="dich-vu-giao-hang-cho-chuoi-cua-hang.html">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <h3>DỊCH VỤ GIAO HÀNG CHO CHUỖI CỬA HÀNG</h3>
                                                    <span class="line"></span>
                                                    <p>Ngoài ra với các tính năng trên website www.alogiaongay.com chúng tôi
                                                        cung cấp đến cho các chuỗi cửa hàng tính năng theo dõi đơn hàng</p>
                                                    <a href="dich-vu-giao-hang-cho-chuoi-cua-hang.html" class="read-more"><span></span>Xem chi tiết</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="front">
                                    <a class="img-container" title="DỊCH VỤ GIAO HÀNG CHO CÁ NHÂN"><img src="assets/templates/frontend/img/(235x155)_crop_Dich-vu-giao-hang-cho-ca-nhan-icon.jpg"
                                            alt='DỊCH VỤ GIAO HÀNG CHO CÁ NHÂN' /></a>
                                    <h2 class="caption"><a class="DroidSans" title="DỊCH VỤ GIAO HÀNG CHO CÁ NHÂN">DỊCH VỤ GIAO HÀNG CHO CÁ NHÂN</a>                                        </h2>
                                </div>
                                <div class="back">
                                    <a>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <h3>DỊCH VỤ GIAO HÀNG CHO CÁ NHÂN</h3>
                                                    <span class="line"></span>
                                                    <p>Nhằm làm tiện lợi và tốt hơn trong cuộc sống của khách hàng có thể giải
                                                        quyết các nhu cầu chuyển phát nhanh hàng hoá và vật dụng của mình.</p>
                                                    <a class="read-more"><span></span>Xem chi tiết</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END COL-LEFT-->
<!--BEGIN COL-RIGHT-->
<div class="col-right">
    <div class='box-category'>
        <ul>
            <li class="current"><a class="current">Các Gói Dịch Vụ Giao Hàng</a>
                <ul>
                    <li><a>DỊCH VỤ GIAO HÀNG CHO THƯƠNG MẠI ĐIỆN TỬ</a>
                        <li><a>DỊCH VỤ GIAO HÀNG CHO DOANH NGHIỆP</a>
                            <li><a>DỊCH VỤ GIAO HÀNG CHO SHOP ONLINE</a>
                                <li><a>DỊCH VỤ GIAO QUÀ SINH NHẬT</a>
                                    <li><a>DỊCH VỤ GIAO HÀNG CHO CHUỖI CỬA HÀNG</a>
                                        <li><a>DỊCH VỤ GIAO HÀNG CHO CÁ NHÂN</a></ul>
                </li>
                <li><a>Dịch vụ giao hàng tại TPHCM</a></li>
        </ul>
    </div>
</div>
<!--END COL-RIGHT-->
<div class="clear"></div>