<div class="header">
    <div class="header-left">
        <h1>
            <a routerLink="" title='Alo Giao Ngay'>
                <img src='assets/templates/frontend/img/Untitled-2_1.png' width='337' alt='Alo Giao Ngay' class='png' />
            </a>
        </h1>
    </div>
    <div class="header-right">
        <div class="box-search">
            <form id="formSearch" name="formSearch" method="post" class="box_search">
                <input name="do_search" value="1" type="hidden" />
                <input name="order_code" id="order_code" type="text" class="text_search" placeholder="Nhập mã đơn hàng" value="" />
                <button id="do_submit" name="do_submit" type="submit" value="Search"><span>Kiểm tra đơn hàng</span></button>
                <div class="clear"></div>
            </form>
        </div>
        <div class="hotine-register">
            <div class="hotline">0984 163 990</div>
            <div class="register-login">
                <a routerLink="/user/register">Đăng ký</a><span>|</span>
                <a routerLink="/user/login">Đăng nhập</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!--begin top-menu-->
    <div class="top-menu">
        <div class="menutop fl">
            <ul class="sf-menu sf-navbar">
                <li class='first'><a class='home'></a></li>
                <li><a routerLink="/frontend/about"><span>Giới Thiệu</span></a></li>
                <li><a routerLink="/frontend/price"><span>Bảng giá</span></a></li>
                <li><a routerLink="/frontend/guide"><span>Hướng dẫn</span></a></li>
                <li><a routerLink="/frontend/service"><span>Dịch vụ giao hàng</span></a></li>
                <li><a routerLink="/frontend/rule"><span>Quy định vận chuyển</span></a></li>
                <li><a><span>Thông báo</span></a></li>
                <li><a routerLink="/frontend/contact"><span>Liên hệ</span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>