<!--BEGIN COL-LEFT-->
<div class="col-left">
    <div class="box_mid">
        <div class="mid-title">
            <div class="titleL">
                <h1>ALO GIAO NGAY</h1>
            </div>
            <div class="titleR"></div>
            <div class="clear"></div>
        </div>
        <div class="mid-content">
            <div class="desc">
                <p style="text-align: justify;"><img alt="alo giao ngay 01" src="assets/templates/frontend/img/Ve_Alogiaongay.jpg" style="width: 100%; height: 42px;"
                    /></p>
                <h2 style="text-align: justify;"><span style="font-size:18px;"><em><strong>Bối cảnh ra đời của ALO GIAO NGAY</strong></em></span></h2>
                <p style="text-align: justify;"><span style="font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thành lập trong bối cảnh ngành thương mại điện tử đang dần phát triển và trở thành kênh thương mại lớn mạnh, vững chắc. <span style="color:#ff5022;">Alogiaongay</span>                    cung cấp dịch vụ giao hàng nhanh, thu tiền hộ uy tín và chuyên nghiệp. Tập trung vào dịch vụ giao nhận
                    hàng hoá cho phân khúc thương mại điện tử, chúng tôi đặt mục tiêu sát cánh bên cạnh khách hàng, hỗ trợ
                    tối đa với niềm tin vững chắc rằng khách hàng mình sẽ phát triển và trở thành những người khổng lồ thực
                    sự. Tập trung mạnh mẽ cung cấp dịch vụ tại Thành phố Hồ Chí Minh, chúng tôi muốn cung cấp đến cho khách
                    hàng những dịch vụ, giải pháp tối ưu trong vấn đề giao hàng nhanh (có hỗ trợ thu hộ) uy tín, chất lượng
                    mang ý nghĩa thiết thực về lợi ích trong công việc kinh doanh của khách hàng.</span>
                </p>
                <p style="text-align: center;"><span style="font-size:16px;"><img alt="alo giao ngay 02" src="assets/templates/frontend/img/banner-02.jpg" style="width: 2000px; height: 750px;" /></span></p>
                <h3 style="text-align: justify;"><span style="font-size:18px;"><em><strong>Mong muốn đem lại lợi ích cho khách hàng của ALO GIAO NGAY</strong></em></span></h3>
                <p style="text-align: justify;"><span style="font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp;<span style="color:#ff5022;"> Alo giao ngay</span>                    &nbsp;ra đời với mong muốn giải quyết tốt nhất nút thắt trong thương mại điện tử tại Việt Nam, mở ra
                    cho khách hàng những lựa chọn tốt nhất để giải quyết vấn đề giao nhận và thanh toán. Với những ưu điểm
                    như tính phí vận chuyển tự động, cập nhật trạng thái đơn hàng, quản lý tiền thu hộ …. Chúng tôi muốn
                    đồng hành cùng khách hàng trên bước đường phát triển của mình.&nbsp; <span style="color:#ff5022;">Alo giao ngay</span>                    luôn đặt niềm tin mãnh liệt vào sự phát triển của thương mại điện tử tại Việt Nam và những khách hàng
                    của mình phục vụ hôm nay sẽ thực sự lớn mạnh trong tương lai không chỉ ở Việt Nam mà còn vươn ra tầm
                    quốc tế. Tìm hiểu về Alo giao ngay, quý khách hàng sẽ thấy được sự nhiệt huyết, đồng cảm và thấu hiểu
                    của chúng tôi về khách hàng của mình.</span>
                </p>
                <p style="text-align: justify;"><span style="font-size:16px;">Với phương châm hoạt động:</span></p>
                <p style="text-align: justify;"><span style="font-size:16px;">&nbsp; &nbsp; &nbsp; - Hiểu những gì khách hàng cần</span></p>
                <p style="text-align: justify;"><span style="font-size:16px;">&nbsp; &nbsp; &nbsp; - Hỗ trợ khách hàng hết khả năng</span></p>
                <p style="text-align: justify;"><span style="font-size:16px;">&nbsp; &nbsp; &nbsp; - Hợp tác khách hàng bằng trách nhiệm</span></p>
                <p style="text-align: justify;"><img alt="Slogan" src="assets/templates/frontend/img/slogan.jpg" style="width: 1000px; height: 683px;" /></p>
                <p style="text-align: justify;">&nbsp;</p>
            </div>
        </div>
    </div>
</div>
<!--END COL-LEFT-->
<!--BEGIN COL-RIGHT-->
<div class="col-right">
    <div class='box-category'>
        <ul>
            <li class="current"><a><span>ALO GIAO NGAY</span></a></li>
            <li><a><span>TẠI SAO CHỌN ALO GIAO NGAY</span></a></li>
        </ul>
    </div>
</div>
<!--END COL-RIGHT-->
<div class="clear"></div>
<div class="clear"></div>