<div class="box_mid">
    <div class="mid-title">
        <div class="titleL">Quy Định Vận Chuyển</div>
        <div class="titleR"></div>
        <div class="clear"></div>
    </div>
    <div class="mid-content">
        <div class="desc">
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="color:#ff5022;"><span style="font-size:26px;"><strong>1.&nbsp;&nbsp; &nbsp;Hàng hóa cấm gửi:</strong></span></span>
                </span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">- &nbsp;Các chất ma túy và chất kích thích thần kinh;</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">- &nbsp;Vũ khí, trang thiết bị quân sự, vũ khí, vật, chất gây nổ, chất độc, chất phóng xạ, ma túy, vi trùng dịch bệnh nhằm khủng bố, xâm hại tính mạng, tài sản công dân, gây mất trật tự, an toàn xã hội;</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Các loại văn hóa phẩm đồi trụy, phản động, văn hóa phẩm trái đạo đức xã hội, trái thuần phong mỹ tục của Việt Nam, ấn phẩm, tài liệu có nội dung kích động, gây mất an ninh trật tự, phá hoại đoàn kết dân tộc, chống phá Nhà nước Cộng hoà xã hội chủ nghĩa Việt Nam;</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Vật hoặc chất dễ cháy, nổ hoặc các chất gây nguy hiểm, làm mất vệ sinh gây ô nhiễm môi trường;</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Các loại hàng hóa nhà nước cấm lưu thông, cấm kinh doanh, cấm xuất khẩu, nhập khẩu;</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Sinh vật sống;</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Vật phẩm, ấn phẩm, hàng hóa cấm nhập vào nước nhận;</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Tiền Việt Nam, tiền nước ngoài và các giấy tờ có giá trị như tiền;</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Các loại kim loại quý (vàng, bạc, bạch kim …), các loại đá quý hay các sản phẩm được chế tạo từ đá quý, kim loại quý …</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Các hàng hóa khác cấm gửi khác theo quy định của pháp luật.</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="color:#ff5022;"><span style="font-size:26px;"><strong>2.&nbsp;&nbsp; &nbsp;Giải quyết khiếu nại:</strong></span></span>
                </span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Tất cả các vấn đề liên quan đến giao hàng, xử lý sự cố phát sinh, Quý khách hàng vui lòng thông báo đến tổng đài 1900 636 085 hoặc email: hotro@alogiaongay.com để được giải đáp thắc mắc</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Tất cả các khiếu nại của Quý khách hàng sẽ được Bộ phận chăm sóc khách hàng của ALOGIAONGAY xử lý chậm nhất trong vòng 07 ngày làm việc.</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="color:#ff5022;"><span style="font-size:26px;"><strong>3.&nbsp;&nbsp; &nbsp;Miễn trừ trách nhiệm đền bù đối với ALOGIAONGAY:</strong></span></span>
                </span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">ALOGIAONGAY&nbsp;không có trách nhiệm bồi thường thiệt hại đối với hàng hóa trong các trường hợp sau:</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Hàng hóa đã được thực hiện đúng thỏa thuận;</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Người gửi hàng không cung cấp đầy đủ thông tin các giấy tờ cần thiết phục vụ cho việc giao hàng dẫn đến các hàng hóa hư hỏng do để lâu, bị phạt vi phạm, bị tịch thu hàng hóa và các trường hợp khác do việc không cung cấp đầy đủ thông tin dẫn đến.</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Hàng hóa bị hư hại, mất mát hoặc các thiệt hại khác do lỗi bên mua hàng.</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Bị cơ quan nhà nước có thẩm quyền tịch thu hoặc tiêu hủy do nội dung bên trong vi phạm các quy định cấm gửi, quy định về nguồn gốc hàng hóa, sở hữu trí tuệ và các quy định khác của pháp luật.</span></span>
            </p>
            <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-size:20px;">-&nbsp;&nbsp; &nbsp;Người gửi không có chứng từ xác nhận việc gửi hàng.</span></span>
            </p>
        </div>
    </div>
</div>
<div class="clear"></div>